
@{
    ViewData["Title"] = "AddSms";
}

<h2>AddSms</h2>

<form action="/action_page.php">
    
    <p style="font-family:Verdana;font-size:160%;text-align:left">Send SMS</p>
    <div class="form-group">
        <label for="PhoneNumber">Phone Number:</label>
        <input type="number" class="form-control" name="Number">
    </div>
    <div class="form-group">
        <label for="text">Text:</label>
        <input type="text" class="form-control" text="Text">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>

