@{
    ViewData["Title"] = "Home Page";
}

<h1 style="color:blue;font-family: Arial Black,Arial Bold,Gadget,sans-serif;font-size:300%;text-align:center">SMS Server - Website</h1>
<p style="font-size:170%;;font-family: Arial Black,Arial Bold,Gadget,sans-serif;margin-top:3rem;text-align: center;">This server was created by Adam Hrnčír and Štěpán Bárta</p>
<p style="font-size:170%;;font-family: Arial Black,Arial Bold,Gadget,sans-serif;margin-top:3rem;text-align: center;">It is made for fun and practical experience purposes.</p>
<p style="font-size:170%;;font-family: Arial Black,Arial Bold,Gadget,sans-serif;margin-top:3rem;text-align: center;">Spent many hours making this work.</p>
<p style="font-size:170%;;font-family: Arial Black,Arial Bold,Gadget,sans-serif;margin-top:3rem;text-align: center;">Feel free to send any helpful notes at Jimmyboy.Experience@listed.com</p>

