@{
    ViewData["Title"] = "Home Page";
}

<h1 style="color:blue;font-family:Verdana;font-size:300%;text-align:center">Welcome to SMS server</h1>
<p style="font-size:170%;margin-top:10rem"> 1. This server was created by Adam Hrnčír and Štěpán Bárta</p>
<p style="font-size:170%"> 2. It is made for fun and practical experience purposes.</p>
<p style="font-size:170%"> 3. Spent many hours making this work.</p>
<p style="font-size:170%"> 4. Feel free to send any helpful notes at Jimmyboy.Experience@listed.com</p>
