<div style="margin-top:2rem">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Status</th>
                <th scope="col">Created At</th>
                <th scope="col">Sent At</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>123456</td>
                <td>Sent</td>
                <td>22.4.2021</td>
                <td>22.4.2021 18:36</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>45578</td>
                <td>Received</td>
                <td>21.4.2021</td>
                <td>21.4.2021 07:40</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>45528</td>
                <td>ServerError</td>
                <td>19.4.2021</td>
                <td>19.4.2021 16:59</td>
            </tr>
        </tbody>
    </table>
</div>